In [3]:
import pandas
dfs = pandas.read_html('http://rate.bot.com.tw/xrt/all/day')

In [4]:
type(dfs)

list

In [5]:
len(dfs)

1

In [6]:
currency = dfs[0]

In [7]:
type(currency)

pandas.core.frame.DataFrame

In [39]:
currency.iloc[0:1,0:5]

                   幣別   現金匯率 Unnamed: 2_level_0   即期匯率 Unnamed: 4_level_0
   Unnamed: 0_level_1   本行買入               本行賣出   本行買入               本行賣出
0  美金 (USD)  美金 (USD)  29.58             30.122  29.88              29.98